/* Reset and globals */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url("/fonts/open-sans-v29-cyrillic-regular.woff2") format("woff2"),
    url("/fonts/open-sans-v29-cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Semibold";
  src: local("Open Sans Semibold"),
    url("/fonts/open-sans-v29-cyrillic-600.woff2") format("woff2"),
    url("/fonts/open-sans-v29-cyrillic-600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("/fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"),
    url("/fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #FFF;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.btn-reset {
  padding: 0;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 50px;

  background-color: #424242;
}

.container:last-child {
  padding-bottom: 50px;
}

.header {
  display: flex;
  justify-content: center;

  padding-top: 25px;

  color: #ebebeb;
  background-color: #424242;
}

.header__title {
  margin: 0;
}

/* END Reset and globals */

/* Custom Checkboxes */

.checkboxes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkboxes__container {
  max-width: 176px;
  padding: 20px 27px 30px 30px;

  background-color: #FFF;
  border-radius: 10px;
}

.checkboxes__title {
  margin-bottom: 20px;

  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  color: #333333;
}

.checkboxes__item:not(:last-child) {
  margin-bottom: 20px;
}

.checkboxes__item {
  position: relative;
  padding-left: 21px;

  font-size: 0;
}

.checkboxes__box {
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 0;
}

.checkboxes__custom {
  font-size: 14px;
  line-height: 19px;

  color: #333333;
}

.checkboxes__custom::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 13px;
  height: 13px;

  border: 1px solid #999999;
  border-radius: 3px;

  transition: border-color 0.3s ease-in-out;
}

.checkboxes__custom::after {
  content: "";
  position: absolute;
  left: -1px;
  bottom: 1px;

  width: 15px;
  height: 15px;

  opacity: 0;

  background-image: url("/img/check.svg");
  background-repeat: no-repeat;
  background-position: center;

  transition: opacity 0.3s ease-in-out;
}

.checkboxes__box:checked + .checkboxes__custom::before {
  border-color: #CCB26E;
}

.checkboxes__box:checked + .checkboxes__custom::after {
  opacity: 1;
}

.checkboxes__box:focus + .checkboxes__custom::before {
  outline: 1px solid #CCB26E;
}

.checkboxes__box:hover + .checkboxes__custom::before {
  border-color: #CCB26E;
}

/* END Custom Checkboxes */

/* Custom Select */

.choices {
  border-radius: 10px;
}

.choices__inner {
  z-index: 10;
  position: relative;
  width: 176px;
  min-height: 37px;
  padding: 0;
  line-height: 19px;
  color: #333333;
  border-radius: 10px;
  border-color: #666;
}

.is-open .choices__inner {
  padding: 0;
  border-radius: 10px;
}

.choices__placeholder {
  opacity: 1;
}

.choices[data-type*="select-one"] .choices__inner {
  padding: 0;
}

.choices__list--single {
  padding: 0;
}

.choices__list--single .choices__item {
  max-width: 176px;
  width: 100%;
  padding: 10px 15px;
}

.choices[data-type*="select-one"]::after {
    content: "";
    height: 8px;
    width: 8px;
    border: 1px solid #666;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
    right: 15px;
    margin-top: -5px;
    z-index: 20;
}

.choices[data-type*="select-one"].is-open::after {
  border: 1px solid #CCB26E;
  border-top: none;
  border-left: none;
  transform: rotate(-135deg);
  margin-top: 0;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  max-width: 176px;
}

.choices[data-type*=select-one] > .choices__list > .choices__list > .choices__item--selectable
{
	padding-right: 0px;
}
.choices[data-type*=select-one] > .choices__list > .choices__list > .choices__item--selectable::after
{
	display: none;
}

.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  margin-top: -5px;
}

.is-focused .choices__inner, .is-open .choices__inner {
  border-color: #CCB26E;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  border-color: #CCB26E;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
  border-color: #CCB26E;
}

.choices__list--dropdown .choices__list, .choices__list[aria-expanded] .choices__list {
  padding-top: 15px;
  padding-bottom: 10px;
}


.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  padding: 10px 15px;
  font-size: 14px;
  color: #333;
}

/* END Select */

/* Map */

.map__inner {
  width: 460px;
  height: 460px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

/* END Map */

/* Scroll */

.scroll__inner {
  width: 400px;
  height: 310px;
  background-color: #fff;
  padding: 20px 30px;
}

.scroll__text {
  line-height: 170%;

  color: #333;
}

.simplebar-scrollbar::before {
  width: 6px;
  background-color: #CCB26E;
}

/* END scroll */

/* Form */
.form__inner {
  display: flex;
  flex-direction: column;

  padding: 40px 30px;
  width: 440px;
  max-width: 440px;
  max-height: 410px;
  background-color: rgba(0, 0, 0, 0.4);
}

.form__item {
  position: relative;
}

.form__item:not(:last-child) {
  margin-bottom: 30px;
}

.form__name, .form__email, .form__phone {
  width: 100%;
  padding: 24px 20px;
  border: none;
  background-color: #FFF;
  border: none;
  border-radius: 10px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #999;
}

.form__btn {
  align-self: flex-start;
  padding: 17px 53px;

  font-family: 'Roboto';

  font-size: 20px;
  line-height: 23px;

  color: #FFF;
  background-color: #FF5C00;

  border-radius: 10px;
}

.form__item--invalid {
  position: absolute;
  top: -20px;
  padding-left: 20px;

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: #FF5C00;
}

/* END Form */

/* Tooltip */

.tooltip__inner {
  max-width: 375px;
  padding: 20px 78px 20px 29px;
  background-color: #FFF;
}

.tooltip__content {
  position: relative;
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 170%;

  color: #333;
}

.tooltip__marker {
  position: relative;
  fill: #BCBCBC;
}

.tooltip__marker::after {
  content: "";
  position: absolute;
  top: -12px;
  left: 2px;
  width: 0;
  height: 0;

  pointer-events: none;

  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #666;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tooltip__popup {
  position: absolute;
  top: 55px;
  left: 152px;
  min-width: 163px;

  padding: 7px 15px;

  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;

  background-color: #666;
  color: #FFF;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tooltip__marker:hover {
  fill: #CCB26E;
}

.tooltip__marker:hover::after,  .tooltip__marker{
  opacity: 1;
}

.tooltip__marker:hover + .tooltip__popup {
  opacity: 1;
}



/* END Tooltip */
