.burger {
  display: none;
  position: relative;

  width: 20px;
  height: 16px;

  cursor: pointer;
}

.burger:focus {
  outline: 2px solid #FFF;
  outline-offset: 3px;
}

.burger__line {
  position: absolute;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: #FFF;
  border-radius: 10px;
}

.burger__line--1 {
  top: 0;
  transition: background-color 0.3s ease-in-out;
}

.burger__line--2 {
  top: calc(50% - (3px / 2));
  transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out;
}

.burger__line--3 {
  bottom: 0;
  transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out;
}

.burger:active {
  outline: none;
}

.burger--active .burger__line--2 {
  width: 75%;
}

.burger--active .burger__line--3 {
  width: 50%;
}

.stop-scroll {
  overflow: hidden;
}

@media (max-width: 991px) {
  .my-container {
    max-width: 768px;
    padding-left: 37px;
    padding-right: 37px;
  }

  /* Hero */

  .hero__inner {
    padding-bottom: 136px;

    background-image: url(/img/bg-hero-tablet.jpg);
    background-repeat: no-repeat;
    background-position: right 39px top 115px;
  }

  .hero__title {
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 5rem;
    line-height: 100%;

    color: #FFF;
  }

  .hero__desc {
    max-width: 345px;

    font-weight: 400;
    font-size: 1.8rem;
    line-height: 150%;

    color: #FFF;
  }

  /* Advantage */

  .advantage__item {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .advantage__icon {
    margin-bottom: 10px;
  }

  .advantage__inner {
    padding-bottom: 75px;
  }

  /* Teachers */

  .teachers__item:nth-child(-n+2) {
    margin-bottom: 21px;
  }

  .teachers {
    background-color: #2E2B44;
  }

  .breakline::after {
    content: "\a";
    white-space: pre;
  }

  /* Courses */

  .courses__inner {
    padding-top: 75px;
  }

  .courses__time {
    top: 11px;
    right: 9px;
  }

  .courses__desc {
    margin-bottom: 26px;
  }

  .courses__button {
    padding: 21.5px 56px;
  }

  /* Footer */
  .footer__container {
    max-width: 100vw;
    padding: 0;
  }

  .breakline--remove::after {
    content: "";
  }
}

@media (max-width: 740px) {

  .my-container {
    padding-left: 33px;
    padding-right: 32px;
  }

  /* Header */

  .header__container {
    flex-direction: column;
    align-items: center;
    padding: 30px 55px;
  }

  .header__logo {
    margin-bottom: 32px;
  }

  .nav {
    width: 100%;
    max-width: 100%;
  }

  /* Hero */

  .hero {
    background: radial-gradient(70.07% 49.07% at 70.78% 75.93%, #555681 0%, #212133 100%);
  }

  .hero__inner {
    padding-top: 77px;
    background-image: none;
  }

  .hero__title {
    font-weight: 700;
    font-size: 5rem;
    line-height: 5rem;

    color: #FFF;
  }

  /* Advantage */

  .advantage__img {
    align-self: flex-start;
  }

  .advantage__inner {
    padding-bottom: 56px;
  }

  /* Courses */

  .courses__inner {
    padding-bottom: 78px;
  }

  .courses__title {
    margin-bottom: 23px;
  }

  .courses__name {
    line-height: 130%;
  }

  .courses__bottom {
    min-height: 473px;

    padding-left: 30px;
    padding-right: 15px;
  }

  .courses__desc {
    margin-bottom: 30px;
  }

  .courses__button {
    padding: 21.5px 48px;
  }

  /* Footer */

  .footer__container {
    padding: 0;
  }
}

@media (max-width: 575px) {
  .advantage__item:not(:last-child),
  .teachers__item:not(:last-child) {
    margin-bottom: 21px;
  }

}

@media (max-width: 515px) {

  .my-container {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .burger {
    display: block;
  }

  .header {
    position: relative;
  }

  .header__container {

    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    padding: 31px 15px;
    padding-bottom: 28px;
    padding-right: 20px;
  }

  .nav {
    position: absolute;
    right: 0;
    top: 78px;

    width: 65%;

    background-color: #3F2AFF;

    transform: translateX(100%);
    opacity: 0;

    transition: transform 0.3s ease-in-out,
                opacity 0.3s ease-in-out;
  }

  .nav--active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.3s ease-in-out,
                opacity 0.3s ease-in-out;
  }

  .nav__list {
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 2rem;
  }

  .nav__item {
    margin-bottom: 2rem;
    margin-right: 2rem;
  }

  .header__logo {
    margin-bottom: 0;
  }

  .header__logo > img {
    max-width: 72px;
    max-height: 16px;
  }

  /* Hero */

  .hero__inner {
    padding-top: 51px;
    padding-bottom: 51px;
  }

  .hero__title {
    margin-bottom: 5px;

    font-size: 3rem;
    line-height: 100%;
  }

  .hero__desc {
    margin-bottom: 45px;

    font-size: 16px;
    line-height: 130%;
  }

  .hero__btn {
    padding: 20px 53px;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }

  /* Advantage */

  .advantage__img {
    display: none;
  }

  .advantage__title {
    margin-bottom: 0;

    font-size: 2rem;
    line-height: 2.6rem;
  }

  .advantage__inner {
    padding-top: 50px;
    padding-bottom: 39px;
  }

  .advantage__item {
    flex-direction: row;
  }

  .advantage__item:not(:last-child) {
    margin-bottom: 21px;
  }

  .advantages__text {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }

  /* Teachers */

  .teachers__inner {
    padding-top: 47px;
    padding-bottom: 45px;
  }

  .teachers__title {
    margin-bottom: 28px;

    font-size: 2rem;
    line-height: 2rem;
  }

  .teachers__photo {
    margin-bottom: 31px;
  }

  .teachers__item:not(:last-child) {
    margin-bottom: 22px;
  }

  /* Courses */

  .courses__inner {
    padding-top: 46px;
    padding-bottom: 49px;
  }

  .courses__title {
    margin-bottom: 27px;

    font-size: 2rem;
    line-height: 2rem;
  }

  .courses__bottom {
    min-height: 473px;
    padding-right: 30px;
  }

  .courses__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .courses__time {
    top: 13px;
    right: 10px;
  }

  .courses__desc {
    margin-bottom: 83px;
  }

  .courses__button {
    padding: 20px 56px;

    font-size: 1.6rem;
    line-height: 1.9rem;
  }

  .breakline::after {
    content: "";
  }

  .breakline--320::after {
    content: "\a";
    white-space: pre;
  }

  /* Footer */

  .footer__container {
    max-width: 100vw;
    padding: 0;
  }

}
