:root {
  font-size: 62.5%;
  --bg-color-blue: #3F2AFF;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
       url('../fonts/roboto-v30-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v30-latin_cyrillic-regular.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'),
       url('../fonts/roboto-v30-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v30-latin_cyrillic-700.woff') format('woff'); /* Modern Browsers */
  font-display: swap;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: #FFF;
}

h1, h2, h3, h4, h5, h6, h7, h8 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.section {
  width: 100%;
}

.my-container {
  max-width: 1130px;
  margin: 0 auto;

  padding: 80px 10px;
}

.container {
  padding: 0;
}

.container-fluid {
  padding: 0;
}

.flex {
  display: flex;
}

.list-reset {
  list-style: none;
  font-size: 0;
}

.btn-reset {
  padding: 0;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  padding: 20.5px 59px;

  font-weight: 700;
  line-height: 1.9rem;

  border-radius: 2rem;
  background-color: var(--bg-color-blue);
  color: #FFF;

}

.title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 100%;
}

/* Header */

.header {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--bg-color-blue);
}

.header__container {
  justify-content: space-between;
  padding: 30px 10px;
}

.header__logo {
  display: inline-block;
  max-width: 94px;
  max-height: 21px;
}

.nav {
  max-width: 470px;
  flex-grow: 1;

}

.nav__list {
  width: 100%;
  justify-content: space-between;
}

.nav__link {
  font-size: 1.8rem;
  line-height: 2.1rem;

  color: #FFFF;
}

/* Hero */

.hero {
  max-width: 1440px;
  margin: 0 auto;

  background: radial-gradient(47.07% 49.07% at 70.78% 45.93%, #555681 0%, #212133 100%);
}

.hero__inner {
  padding: 130px 10px;

  background-image: url("/img/bg-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-position: right 9px center;
}

.hero__content {
  max-width: 460px;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  margin-bottom: 28px;

  font-weight: 700;
  font-size: 6rem;
  line-height: 100%;

  color: #FFF;
}

.hero__desc {
  margin-bottom: 62px;

  font-size: 1.8rem;
  line-height: 150%;

  color: #FFF;
}

.hero__btn {
  padding: 24px 75.5px;

  font-size: 1.8rem;
  line-height: 2.1rem;
}

/* Advantage */

.advantage__top {
  align-items: center;
  margin-bottom: 23px;
}

.advantage__img {
  margin-right: 30px;
}

.advantage__title {
  max-width: 380px;
  margin-bottom: 17px;

  color: #2E2B44;
}

.advantage__desc {
  max-width: 585px;
  line-height: 150%;

  color: #666;
}

.advantage__bottom {
  padding: 0;
}

.advantage__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.advantage__icon {
  margin-right: 30px;
}

.advantage__text {
  max-width: 240px;

  font-size: 1.6rem;
  font-weight: 700;
  line-height: 120%;

  color: #666;
}

/* Teacher */

.teachers {
  max-width: 1440px;
  margin: 0 auto;

  background-color: #212133;
}

.teachers__inner {
  padding-top: 73px;
  padding-bottom: 73px;
}

.teachers__title {
  margin-bottom: 23px;

  color: #FFF;
}

.teachers__photo {
  margin-bottom: 32px;

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  overflow: hidden;
}

.picture {
  display: flex;
  width: 100%;
  height: 180px;
}

.picture__photo {
  object-fit: cover;
  width: 100%;
}

.teachers__name {
  margin-bottom: 8px;
  padding-left: 1px;

  font-weight: 700;
  font-size: 1.8rem;
  line-height: 150%;

  color: #FFF;
}

.teachers__desc {
  font-size: 1.6rem;
  line-height: 150%;

  color: #85859B;
}

/* Courses */

.courses__inner {
  padding-top: 73px;
  padding-bottom: 80px;
}

.courses__title {
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 4rem;
  line-height: 100%;

  color: #212133;
}

.courses__item {
  display: flex;
  flex-direction: column;
}

.courses__item:nth-child(-n+2) {
  margin-bottom: 30px;
}

.courses__photo {
  position: relative;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  overflow: hidden;
}

.courses__time {
  position: absolute;
  top: 13px;
  right: 5px;

  padding-left: 29px;

  font-size: 1.6rem;
  line-height: 1.9rem;

  color: #FFF;
  background-image: url("/img/time.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.courses__bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;

  min-height: 300px;
  padding: 30px;

  background-color: #EDF0F9;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.courses__name {
  margin-bottom: 9px;

  font-weight: 700;
  font-size: 1.8rem;
  line-height: 150%;

  color: #212133;
}

.courses__desc {
  flex-grow: 1;
  font-size: 16px;
  line-height: 150%;

  color: #666;
}

.courses__button {
  justify-self: flex-end;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;

  color: #FFFF;
}

/* Socials */

.footer__container {
  max-width: 1440px;
  padding: 0;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 28px 0;

  background-color: #2E2B44;
}

.socials__item:not(:last-child) {
  margin-right: 30px;
}

.footer__copyright {
  font-size: 1.3rem;
  line-height: 1.5rem;
  text-transform: uppercase;

  color: #2E2B44;
}

.footer__copyright--blue {
  color: #3F2AFF;
}





